html {
	font-family: Times, serif;
	font-size: 18px;
}


body {
	background-color: #e4d8c0;
	margin: 15px;
}

article {
	margin: 5px 5px 5px 5px;
	border: 1px solid;
	padding: 3px 15px 3px;
	border-right-color: gray;
	border-right-width: 3px;
	border-bottom-color: gray;
	border-bottom-width: 3px;
}

#TopSection {
	font-style: italic;
	font-style: bold;

}